
body {

	background-color: $bgColor1;
	color: $mainTxtColor;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	
	@include fontSize (1.7 , 2);
	
	}

	
.contanier {
	width: 100%;
	max-width: #{$maxWidth}px;
	margin: 0 auto;
	padding: 2rem 1rem ;
}

.block-border-bottom
{
	border-bottom: rgba(197, 197, 197, 0.2) 1px solid;
}

.link {

	color: $linkTxtColor;
	font-weight: bold;
	transition: all .2s ease;

	text-decoration: underline transparent;
	&:hover,
	&:focus {
		text-decoration: underline currentColor;
	}
	
}

.title {

	color: $titleTxtColor;
	line-height: 1.5em;
	font-weight: bold;
	font-size: 1.5em;

}

.underline,.underline-static {
	background-color: $mainAccentColor;
	// background-color если не работает градиент в браузере
	background: $lg;

	background-size: 0 .3rem ;

	background-repeat: no-repeat;
	background-position: left 95%;
	transition: all 0.1s linear;
	text-decoration: none;
	
	&:focus ,
	&:hover
	{
		background-size: 100% .3rem;
	}
} 

.underline-static
{
	background-size: 100% .3rem;
}

.button
{
$bgc:$lg;

	outline-color: $mainAccentColor;
	margin-top: 1rem;
	margin-bottom: 1rem;

	background-color: $mainAccentColor;
	// background-color если не работает градиент в браузере

	background: $lg;
	background-size: 300% auto;
	color: #ffffff;
	border: none;
	border-radius: .7rem;
	text-align: center;
	padding: 0.7em 1em;
	font-weight: bold;
	cursor: pointer;

	transition: all 0.2s ease;

	display: inline-block;
	
	&:hover,
	&:focus {
		text-decoration: none;
		background-position: right center;
		box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
	}
}


.button:disabled
{
	&:hover,
	&:focus {
		text-decoration: none;
		background-position: inherit;
		box-shadow: none;
	}
}


