.contanier {
	
	width: 100%;
	max-width: #{$maxWidth}px;
	margin: 0 auto;
	padding:1em .5em;

@media (min-width: 767.98px){
    padding: 1em;
    } 

}


.link {

	color: $linkTxtColor;
	font-weight: bold;
	transition: all .2s ease;

	text-decoration: underline transparent;
	&:hover,
	&:focus {
	text-decoration: underline currentColor;
	}
	
}


.button
{
$bgc:$lg;
$color:#ffffff;
    outline-color: $mainAccentColor;
	margin-top: 1rem;
	margin-bottom: 1rem;
    background-color: $mainAccentColor;
  // background-color если не работает градиент в браузере

    background: $lg;
	background-size: 300% auto;
	color: $color;
	border: none;
	border-radius: .7rem;
	text-align: center;
	padding: 0.7em 1em;
	font-weight: bold;
	cursor: pointer;

	transition: all 0.2s ease;

	display: inline-block;

	&:hover,
	&:focus {
	text-decoration: none;
	background-position: right center;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
	}
}

.button:disabled
{
	$bgc:$lg;
	$color:#ffffff;
	cursor: default;
	opacity: .5;
	&:hover,
	&:focus {
	text-decoration: none;
	background-position: inherit;
	box-shadow: none;
	}
}

.title {

	color: $titleTxtColor;
	line-height: 1.5em;
	font-weight: bold;
	font-size: 1.5em;

}

.underline {
	background-color: $mainAccentColor;
	// background-color если не работает градиент в браузере
	background: $lg;

	background-size: 0 .3rem ;

	background-repeat: no-repeat;
	background-position: left 95%;
	transition: all 0.1s linear;
	text-decoration: none;

//   &:focus ,
//   &:hover
//   {
//     background-size: 100% .3rem;
//   }
} 

.title.underline  {

	display: inline-block;
	// перенастраивает свойства из класса 'underline' делает его активным всегда
	background: $lg;
	background-size: 100% 5px;
	background-repeat: no-repeat;
	background-position: left 95%;
}



// @import "portfolio.scss";
