
.portfolio__title-wrapper
{
  position: absolute;
  z-index: 3;
  padding: 2rem 1.5rem 1rem 1.5rem;
  width: 100%;
  height: 100%;
font-weight: bold;

display: flex;
justify-content: space-evenly;
flex-direction: column;


&::before
{

  transition: all 0.2s ease;
  content: 'перейти на сайт';
  color: transparent;
font-size: .7em;
letter-spacing: .1rem;
margin-top: auto;
align-self: flex-end;
order: 3;
}
}

.portfolio__title,.portfolio__subtitle 
{
  color: inherit;
  transition: all 0.2s ease;
}


.portfolio__title 
{
  margin-bottom: 2em;

  text-decoration: underline transparent;
}

.portfolio__subtitle 
{

}


// .portfolio__item.portfolio__item:nth-child(1) .portfolio__title 
// {
// bottom: 3rem;
// right:  1rem;
// text-align: right;
// }
// .portfolio__item.portfolio__item:nth-child(1) .portfolio__subtitle 
// {
//   bottom: 2rem;
//   right:  1rem;
//   text-align: right;
// }
// .portfolio__item.portfolio__item:nth-child(1) .portfolio__img
// {
// filter: brightness(40%);
// object-position:80% 0 ;
// object-fit:cover;
// background: #000;
// }
// .portfolio__item:hover.portfolio__item:nth-child(1) .portfolio__title 
// {
//   bottom: 12rem;
// }
// .portfolio__item:hover.portfolio__item:nth-child(1) .portfolio__subtitle 
// {
//   bottom: 11rem;
// }

// .portfolio__item.portfolio__item:nth-child(2)
// {
//   display: none;
// }
// .portfolio__item.portfolio__item:nth-child(2) .portfolio__title
// {
// bottom: 2rem;
// left: 1rem;
// }
// .portfolio__item.portfolio__item:nth-child(2) .portfolio__subtitle 

// {
//   bottom: 4rem;
//   left: 1rem;
// }

// .portfolio__item.portfolio__item:nth-child(3) .portfolio__title 
// {
// bottom: 8rem;
// left: 1rem;
// }

// .portfolio__item.portfolio__item:nth-child(3) .portfolio__subtitle 
// {
//   bottom: 7rem;
//   left: 1rem;
// }
// .portfolio__item.portfolio__item:nth-child(3) .portfolio__img
// {
// filter: brightness(40%);
// object-position:80% 0 ;
// background: #000;
// }
// .portfolio__item:hover.portfolio__item:nth-child(3) .portfolio__title 
// {
//   left: -150%;
// }
// .portfolio__item:hover.portfolio__item:nth-child(3) .portfolio__subtitle 
// {
//   left: -150%;
// }
// .portfolio__item:hover.portfolio__item:nth-child(3) .portfolio__img
// {
// filter: brightness(100%);

// }
// .portfolio__item.portfolio__item:nth-child(4) .portfolio__title
// {
// top: 3rem;
// left: 1rem;
// }
// .portfolio__item.portfolio__item:nth-child(4) .portfolio__subtitle 

// {
//   top: 5rem;
//   left: 1rem;
// }
// .portfolio__item:hover.portfolio__item:nth-child(4) .portfolio__subtitle 

// {

// }

// .portfolio__item.portfolio__item:nth-child(4) .portfolio__img
// {
// filter: brightness(70%);
// object-position:60% 0 ;
// }
// .portfolio__item:hover.portfolio__item:nth-child(4) .portfolio__img
// {
// filter: brightness(100%);
// object-position:95% 0 ;
// }


// .portfolio__item.portfolio__item:nth-child(5) .portfolio__title 
// {
// top: 1rem;
// right: 1rem;
// text-align: right;
// }
// .portfolio__item.portfolio__item:nth-child(5) .portfolio__subtitle 
// {
//   top: 3rem;
//   right: 1rem;
//   text-align: right;
// }
// .portfolio__item.portfolio__item:nth-child(5) .portfolio__img
// {
// filter: brightness(50%);

// object-fit:cover;
// }

// // .portfolio__item:hover.portfolio__item:nth-child(5) .portfolio__title 
// // {
// // top: 1rem;
// // font-size: 0.9rem;
// // text-shadow: 0 0 7px black;
// // }
// // .portfolio__item:hover.portfolio__item:nth-child(5) .portfolio__subtitle 
// // {
// //   font-size: 0.8rem;
// //   top: 3rem;text-shadow: 0 0 7px black;
// // }
// .portfolio__item:hover.portfolio__item:nth-child(5) .portfolio__img
// {

// filter: brightness(100%);

// }

// .portfolio__item.portfolio__item:nth-child(6) .portfolio__title
// {
// bottom: 2rem;
// left: 1rem;
// }
// .portfolio__item.portfolio__item:nth-child(6) .portfolio__subtitle 

// {
//   bottom: 4rem;
//   left: 1rem;
// }

// .portfolio__item.portfolio__item:nth-child(7) .portfolio__title 
// {
// top: 6rem;
// left: 1rem;
// }
// .portfolio__item.portfolio__item:nth-child(7) .portfolio__subtitle 
// {
//   top: 8.5rem;
//   left: 1rem;
// }

